<footer class="page-footer font-small blue-grey lighten-5" style="background-color: #FFEAA3;" id="Footer">
    <div style="background-color: #FFD54C;">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">Contactanos con nosotros por las redes sociales!</h6>
                </div>
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <a href="">
                        <i class="fab white-text mr-4"> <img src="https://img.icons8.com/doodle/48/000000/facebook-new.png"/> </i>
                    </a>
                    <a href="">
                        <i class="fab white-text mr-4"> <img src="https://img.icons8.com/doodle/48/000000/instagram--v1.png"/> </i>
                    </a>
                    <a href="">
                        <i class="fab white-text mr-4"> <img src="https://img.icons8.com/doodle/48/000000/twitter--v1.png"/> </i>
                    </a>
                    <a href="">
                        <i class="fab white-text mr-4"> <img src="https://img.icons8.com/doodle/48/000000/google-classroom.png"/> </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center text-md-left mt-5">
        <div class="row mt-3 dark-grey-text">
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">PATITAS EN CAMINO</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;" color="#FFD54C">
                <p>Esta es una pagina aquellas personas que estan en busca <br> de un nuevo integrante para <br> su familia.</p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Escuela</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;" color="#FFD54C">
                <p>
                    <a class="dark-grey-text" href="#!">
                        <font color="grey">CBTis 145</font>
                    </a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">
                        <font color="grey">Venustiano Carranza</font>
                    </a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!"><img src="https://1.bp.blogspot.com/_n3Miq0cT0Gk/SvyqGItCucI/AAAAAAAAAAc/N_H0wCVGxv8/S660/cbtis3.jpg" width="40%" class="ml-5"></a>
                </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Otros Proyectos</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;" color="#FFD54C">
                <p>
                    <a class="dark-grey-text" href="#!"></a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">
                        <font color="grey">GitHub</font>
                    </a>
                </p>
                <p>
                    <a class="dark-grey-text ml-5" href="#!"><img src="https://img.icons8.com/doodle/48/000000/github--v1.png" /></a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!"></a>
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;" color="#FFD54C">
                <br><br>
                <p class="lead btn btn-lg btn-secondary" onclick="document.getElementById('About').click()">Acerca de Nosotros</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center text-black-50 py-3" style="background-color: #E8B200;">© 2020 Copyright :
        <font color="black"> Diego Algalan / Erick Pinzon</font>
    </div>
</footer>