<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
    <a class="navbar-brand" href="#">
        <img src="..\..\assets\img\logo.png" width="30px">&nbsp;&nbsp;&nbsp; PATITAS EN CAMINO
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="btn btn-success" data-toggle="modal" data-target="#ModalLogin" id="btn-login" value="Login" type="button">
            <label style="display: none;" id=lbl-user><h6>Hi! <Font color="gray" id="user"></Font></h6></label>
        </form>
    </div>
</nav>

<!-- Modal (login) -->
<div class="modal fade" id="ModalLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Login
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" class="form-signin">
                    <div class="text-center mb-4">
                        <img class="mb-4" src="https://img.icons8.com/plasticine/100/000000/dog.png" alt="" width="72" height="72">
                        <h1 class="h3 mb-3 font-weight-normal">Patitas en Camino</h1>
                        <p>Una tienda de accesorios para tu mascota ideal si quieres hacerla feliz</p>
                    </div>

                    <div class="form-label-group">
                        <input type="text" id="txt-user" class="form-control" placeholder="User" required="" autofocus="" name="txt-user">
                        <label for="inputEmail">&nbsp;&nbsp;&nbsp;User</label>
                    </div>

                    <div class="form-label-group">
                        <input type="password" id="txt-pass" class="form-control" placeholder="Password" required="" name="txt-pass">
                        <label for="inputPassword">&nbsp;&nbsp;&nbsp;Password</label>
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                          </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="button" onclick="login()" data-dismiss="modal">Sign in</button>
                    <p class="mt-3 mb-2 text-muted text-center">© Erick Pinzon | Diego Algalan</p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>