<!-- Cuerpo de la pagina -->

<body>
    <!-- Contenedor del cover con propiedades de tamaño -->
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <!-- Header del cover -->
        <header class="masthead mb-auto">
            <!-- Clase del nav -->
            <div class="inner">
                <!-- Titulo y logo del nav que ejecuta un boton del NAV -->
                <a class="navbar-brand" onclick="document.getElementById('Home').click()">
                    <!-- Imagen de Logo -->
                    <img src="..\..\assets\img\logo.png" width="30px">&nbsp;&nbsp;&nbsp;
                    <!-- Titulo -->
                    <font size=5>PATITAS EN CAMINO</font>
                </a>
                <!-- Nav hacia diferentes partes de la pagina -->
                <nav class="nav nav-masthead justify-content-center">
                    <!-- Home -->
                    <a class="nav-link active" onclick="document.getElementById('Home').click()">Home</a>
                    <!-- Info -->
                    <a class="nav-link" onclick="document.getElementById('Info').click()">Info</a>
                    <!-- Contact -->
                    <a class="nav-link" onclick="document.getElementById('About').click()">Contact</a>
                </nav>
            </div>
        </header> <br><br><br><br><br><br><br>

        <!-- Cover -->
        <main role="main" class="inner cover">
            <!-- Titulo -->
            <h1 class="cover-heading">Bienvenido</h1>
            <!-- Subtitulo -->
            <p class="lead">Una pagina para aquellos que no tienen voz pero si tienen sentimientos, aquellos que estan para ti y darian la vida por ti si asi fuera necesario, y para los que no tienen un hogar pero su un gran corazon.</p>
            <!-- Boton para ver mas -->
            <p class="lead">
                <!-- Boton -->
                <a class="btn btn-lg btn-secondary" onclick="document.getElementById('Home').click()">Ver Mas</a>
            </p>
        </main><br><br><br><br><br><br>

        <!-- Footer  -->
        <footer class="mastfoot mt-auto">
            <!-- Creditos -->
            <div class="inner">
                <!-- Autores -->
                <p>Pagina creada por Diego Algalan y Erick Pinzon.</p>
            </div>
        </footer>
    </div>
</body>