<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <a class="navbar-brand" onclick="document.getElementById('Home').click()">
                    <img src="..\..\assets\img\logo.png" width="30px">&nbsp;&nbsp;&nbsp;
                    <font size=5>PATITAS EN CAMINO</font>
                </a>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" onclick="document.getElementById('Home').click()">Home</a>
                    <a class="nav-link">Features</a>
                    <a class="nav-link" onclick="document.getElementById('About').click()">Contact</a>
                </nav>
            </div>
        </header> <br><br><br><br><br><br><br>

        <main role="main" class="inner cover">
            <h1 class="cover-heading">Bienvenido</h1>
            <p class="lead">Una pagina para aquellos que no tienen voz pero si tienen sentimientos, aquellos que estan para ti y darian la vida por ti si asi fuera necesario, y para los que no tienen un hogar pero su un gran corazon.</p>
            <p class="lead">
                <a class="btn btn-lg btn-secondary" onclick="document.getElementById('Home').click()">Ver Mas</a>
            </p>
        </main><br><br><br><br><br><br>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Pagina creada por Diego Algalan y Erick Pinzon.</p>
            </div>
        </footer>
    </div>
</body>