<!-- Cuerpo de la pagina con background -->

<body class="bg-home">
    <!-- Seccion de Cover para presentar -->
    <section class="pt-5 pb-0 mt-0 align-items-center d-flex bg-dark cover ov-hidden" style="background-size: cover; min-height: 75vh; background-image: url('https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');">
        <!-- Contenedor -->
        <div class="container  ">
            <!-- Fila con propiedades de texto -->
            <div class="row align-items-center justify-content-between">
                <!-- Columna de 12 con parte de 5 y se¿ccion de 5 -->
                <div class="col-12 col-md-5 pb-5">
                    <!-- Titulo de Pagina -->
                    <h1 class="text-white mb-3 mt-5">Hazlos Feliz</h1>
                    <!-- Subtitulo -->
                    <p class="lead text-white">Nada mejor como ver una sorisa en aquel perrito o gatito sin refugio al ver que irá con una gran familia como es la tuya.</p>
                    <!-- Boton para adoptar -->
                    <div class=" d-flex mt-3 mb-1">
                        <!-- Adoptar -->
                        <a class="btn btn-primary btn-raised  btn-lg mt-md-3" href="#" role="button">Adoptar</a>
                    </div>
                </div>
                <!-- Imagen para mostrar -->
                <div class="col-12 col-md-6 mt-4">
                    <!-- IMG -->
                    <img alt="image" class="img-fluid d-block mx-auto" src="https://images.unsplash.com/photo-1559190394-df5a28aab5c5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80">
                </div>
            </div>
        </div>
    </section> <br>

    <!-- Contenedor para los datos -->
    <div class="container marketing text-center cont"> <br><br>
        <!-- Fila de datos -->
        <div class="row featurette">
            <!-- Columna de 7 -->
            <div class="col-md-7"> <br><br><br><br><br>
                <!-- Titulo del Dato -->
                <h2 class="featurette-heading">¿Por que es importante adoptar una mascota?</h2>
                <!-- Descripcion -->
                <p class="lead">La adopción es una alternativa que a la hora de adquirir un animal de compañía beneficia a todos: a la familia, a las entidades de protección animal y, por supuesto, al propio perro o gato. Los adoptantes han manifestado que su motivo
                    principal para hacerlo fue su sensibilización con el problema (38%) y para colaborar con la protectora (23%). También se han decidido a adoptar por recomendaciones, porque es una vía más económica y porque los animales están en mejores
                    condiciones (12% para cada una de estas razones)</p>
            </div>
            <!-- Columna 5 -->
            <div class="col-md-5">
                <!-- Img representativa -->
                <img src="https://images.unsplash.com/photo-1521673461164-de300ebcfb17?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80" style="border-radius: 15px;" width="350" height="500" alt="">
            </div>
        </div>
        <br><br>
        <!-- Divisor de info -->
        <hr class="featurette-divider">

        <!-- Nueva info -->
        <div class="row featurette">
            <br><br>
            <!-- Col de 7 -->
            <div class="col-md-7 order-md-2"><br><br><br><br><br>
                <!-- Titulo de info -->
                <h2 class="featurette-heading">Cifras de abandono y adopción.</h2>
                <!-- Descripcion de info -->
                <p class="lead">El abandono y las pérdidas de perros y gatos constituyen el principal obstáculo de bienestar de los animales de compañía en nuestro país. En 2014 fueron recogidos más de 140.000 (106.781 perros y 33.410 gatos), es decir que cada cinco
                    minutos un perro o un gato era recogido por una entidad en España. A pesar de las campañas de concienciación, la cifra se mantiene estable y es muy elevada. Estos datos son un síntoma más de que estamos ante un problema de índole estructural
                    y que reclama una mayor intervención y cooperación de todos los agentes, públicos y privados, implicados en su prevención: protectoras de animales, veterinarios y administración, ya que es necesaria una mayor labor pedagógica en relación
                    a los beneficios de la adopción. Mientras los abandonos no disminuyen, la preocupación es mayor porque, además, la adopción no aumenta. Solo el 13% de los perros y el 10% de los gatos de los hogares españoles proviene de una adopción,
                    ya sea a travé</p>
            </div>
            <!-- Col de 5 -->
            <div class="col-md-5 order-md-1">
                <!-- Img representativa -->
                <img src="https://images.unsplash.com/photo-1595232170847-da4cab9e63ce?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1533&q=80" style="border-radius: 15px;" width="350" height="500" alt="">
            </div>
        </div>
        <!-- Divisor de info -->
        <hr class="featurette-divider">
        <br><br>
        <!-- Fila de info -->
        <div class="row featurette">
            <!-- Columna de 7 -->
            <div class="col-md-7"><br><br>
                <!-- Titulo info -->
                <h2 class="featurette-heading">Causas de abandono</h2>
                <!-- Descripcion -->
                <p class="lead">Causas de abandono Las 5 principales razones que se alegan para abandonar a un animal de compañía son los problemas económicos (16%), las camadas inesperadas (13%), el comportamiento del animal (12%), la pérdida de interés por el animal
                    (9%) y el fin de la temporada de caza (9%). Los factores económicos (16%) y las camadas no deseadas (13%) aparecen en este estudio, como en el del año anterior, entre los motivos de abandono más mencionados. Si bien esta información
                    puede resultar escasa porque la única fuente son los propios propietarios de los animales que son dejados por ellos en los refugios y que solo representan el 9% de las mascotas abandonadas, ya que la gran mayoría son rescatadas en
                    la calle o llegan a través de personas que no son sus dueños.</p>
            </div><br><br>
            <!-- Columna 5 -->
            <div class="col-md-5">
                <!-- Img Representativa -->
                <img src="https://images.unsplash.com/photo-1512819432727-dbcb57a06f13?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80" style="border-radius: 15px;" width="350" height="500" alt="">
            </div>
        </div><br> <br><br>
    </div> <br> <br><br>
</body>