<body class="bg-home">
    <div class="position-relative overflow-hidden p-3 text-center text-white" style="background-color: rgba(255, 255, 255, 0.10);">
        <div class="col-md-5 p-lg-5 mx-auto my-5"><br><br><br><br><br><br>
            <h1 class="display-4 font-weight-normal">Hazlos Feliz</h1>
            <p class="lead font-weight-normal">Nada mejor como ver una sorisa en aquel perrito o gatito sin refugio al ver que irá con una gran familia como es la tuya.</p>
            <a class="btn btn-outline-light" href="#">Adoptar</a> <br><br><br><br><br><br>
            <a href="#info"><img src="https://img.icons8.com/android/24/000000/down.png" /></a>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

    <a name="info"></a>
    <br>
    <div class="row ml-5">
        <div class="col-sm-5 info-why text-white"><br>
            <h2 class="ml-4">Por qué adoptar?</h2>
            <hr class="ml-4" style="width: 60%;" color="white">
            <p class="lead ml-4 mr-5">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat sequi omnis vel in. Nulla sunt eum adipisci ea officiis dolore ipsam id similique hic, natus laborum at necessitatibus beatae dolorem?
                <br><br> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, aspernatur ex ipsam asperiores expedita iusto ea repellat, ab consequatur maxime soluta laboriosam eligendi quos tempore? Dignissimos eaque ipsam laborum eligendi.
            </p>
        </div>
        <div class="col-sm-6 ml-5 info-more"> <br>
            <h2 class="ml-4">Beneficios de Adoptar</h2>
            <hr class="ml-4" style="width: 60%;" color="white">
            <p class="lead ml-4 mr-5">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat sequi omnis vel in. Nulla sunt eum adipisci ea officiis dolore ipsam id similique hic, natus laborum at necessitatibus beatae dolorem?
                <br>
            </p>
            <div class="row">
                <div class="col-sm-4 text-center ml-5">
                    <img src="https://images.unsplash.com/photo-1596289424680-1d50b1adb16f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" width="100%" style="border-radius: 15px;">
                </div>
                <div class="col-sm-6 text-center ml-5">
                    <font size="2">
                        <p class="lead">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita tempore rerum perferendis nulla, possimus voluptatem quasi vitae voluptates molestias delectus
                        </p>
                    </font>
                </div>
            </div>
        </div>
    </div><br>

    <div class="container marketing text-center cont"> <br>
        <div class="row featurette">
            <div class="col-md-7"> <br><br><br><br><br>
                <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2"><br><br><br><br><br>
                <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7"><br><br><br><br><br>
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div><br>
    </div> <br>
</body>