.bg-about {
    background-image: url(../../../assets/img/bg-about.jpg);
    background-size: 100%;
    background-position: center top;
    background-attachment: fixed;
    font-family: Segoe UI;
}

.cont {
    background-color: rgba(255, 255, 255, 0.442);
    border-radius: 15px;
}