<!--  -->

<body class="bg-about">
    <!--  -->
    <section class="bg-about text-dark pt-5 pb-5">
        <!--  -->
        <div class="container">
            <!--  -->
            <div class="row justify-content-center align-content-center d-flex">
                <!--  -->
                <div class="col-md-6 col-12 mx-auto">
                    <!--  -->
                    <h2 class="mb-3 mt-3">Conocenos</h2>
                    <!--  -->
                    <p class="text-h3 lead">Somos dos estudiantes de 5° Semestre con gustos por el diseño y el desarrollo que ceramos la pagina para los perritos que no tienen voz, tambien se realizo con base a un proyecto que realzamos hace alugnos años sobre una PetShop.</p>
                    <!--  -->
                    <h4 class="mb-3 mt-3">Habilidades</h4>
                    <!--  -->
                    <div class="progress mb-3 mt-2">
                        <!--  -->
                        <div class="progress-bar" role="progressbar" style="width: 80%">
                            <!--  -->
                            <span class="stacked-label">HTML</span>
                        </div>
                    </div>
                    <!--  -->
                    <div class="progress mb-3 mt-2">
                        <!--  -->
                        <div class="progress-bar " role="progressbar" style="width: 50%">
                            <!--  -->
                            <span class="stacked-label">CSS</span>
                        </div>
                    </div>
                    <!--  -->
                    <div class="progress mb-3 mt-2">
                        <!--  -->
                        <div class="progress-bar " role="progressbar" style="width: 90%">
                            <!--  -->
                            <span class="stacked-label">JavaScript</span>
                        </div>
                    </div>
                    <!--  -->
                    <div class="progress mb-3 mt-2">
                        <!--  -->
                        <div class="progress-bar " role="progressbar" style="width: 80%">
                            <!--  -->
                            <span class="stacked-label">PHP</span>
                        </div>
                    </div>
                    <!--  -->
                    <p class="text-h3 mt-5 mb-5">
                        <!--  -->
                        <a class="btn btn-outline-dark" role="button" data-toggle="modal" data-target="#ErickModal">Ver mas información »</a>
                    </p>
                </div>
                <!--  -->
                <div class="col-md-3 col-6 mx-auto">
                    <!--  -->
                    <div class="card">
                        <!--  -->
                        <img class="card-img-top shadow" src="https://scontent-dfw5-2.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s750x750/98264138_870843923383159_4887648652525550873_n.jpg?_nc_ht=scontent-dfw5-2.cdninstagram.com&_nc_cat=107&_nc_ohc=ri2Zi3a_kOUAX8_l5ot&tp=1&oh=9b09589cf38f27b7dbddadd6ad8a4b12&oe=5FFCA4B9"
                            alt="Profile">
                        <!--  -->
                        <div class="card-body text-center">
                            <!--  -->
                            <h4 class="card-title">
                                <!--  -->
                                <font size=5 class="lead"><b>Diego Alexis</b></font><br>
                                <!--  -->
                                <font size=4 class="lead">Algalan Murillo</font>
                            </h4>
                            <!--  -->
                            <p class="card-text text-muted">Estudiante</p>
                            <!--  -->
                            <i class="fab fa-twitter">18 años</i>
                            <!--  -->
                            <p class="mt-4">
                                <!--  -->
                                <a class="btn btn-outline-dark" role="button" data-toggle="modal" data-target="#DiegoModal">Ver mas información »</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-md-3 col-6 mx-auto">
                    <!--  -->
                    <div class="card">
                        <!--  -->
                        <img class="card-img-top shadow" src="https://scontent-dfw5-1.cdninstagram.com/v/t51.2885-19/s320x320/120201969_770239327109266_7925409692263987835_n.jpg?_nc_ht=scontent-dfw5-1.cdninstagram.com&_nc_ohc=0Vsmvu6Efh8AX-CGiZx&tp=1&oh=7672d6d377ec47e669522e02ef2a0b5a&oe=5FFAE745"
                            alt="Profile">
                        <!--  -->
                        <div class="card-body text-center">
                            <!--  -->
                            <h4 class="card-title">
                                <!--  -->
                                <font size=5 class="lead"><b>Erick</b></font><br>
                                <!--  -->
                                <font size=4 class="lead">Pinzon Huerta</font>
                            </h4>
                            <!--  -->
                            <p class="card-text text-muted">Estudiante</p>
                            <!--  -->
                            <i class="fab fa-twitter">17 años</i>
                            <!--  -->
                            <p class="mt-4">
                                <!--  -->
                                <a class="btn btn-outline-dark" role="button" data-toggle="modal" data-target="#ErickModal">Ver mas información »</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="ErickModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <!--  -->
        <div class="modal-dialog">
            <!--  -->
            <div class="modal-content">
                <!--  -->
                <div class="modal-header">
                    <!--  -->
                    <h5 class="modal-title" id="exampleModalLabel">Erick Pinzon</h5>
                    <!--  -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<!--  -->
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <!--  -->
                <div class="modal-body">
                    <!--  -->
                    <h5>Estudiante</h5>
                    <!--  -->
                    <p class="lead ml-4 mr-4">
                        <!--  -->
                        <font size=3>Tengo 17 años me gusta ..</font>
                    </p>
                    <hr>
                    <!--  -->
                    <h5>Redes Sociales</h5>
                    <!--  -->
                    <div class="text-center"> <br>
                        <!--  -->
                        <a href=""><img src="https://img.icons8.com/doodle/48/000000/facebook-new.png"></a>
                        <!--  -->
                        <a href=""><img src="https://img.icons8.com/doodle/48/000000/instagram--v1.png"></a>
                        <!--  -->
                        <a href=""><img src="https://img.icons8.com/doodle/48/000000/gmail.png" /></a>
                        <!--  -->
                        <a href=""><img src="https://img.icons8.com/doodle/48/000000/whatsapp.png" /></a>
                    </div>
                </div>
                <!--  -->
                <div class="modal-footer">
                    <!--  -->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!--  -->
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="DiegoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <!--  -->
        <div class="modal-dialog">
            <!--  -->
            <div class="modal-content">
                <!--  -->
                <div class="modal-header">
                    <!--  -->
                    <h5 class="modal-title" id="exampleModalLabel">Diego Algalan</h5>
                    <!--  -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<!--  -->
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <!--  -->
                <div class="modal-body">
                    <!--  -->
                    <h5>Estudiante</h5>
                    <!--  -->
                    <p class="lead ml-4 mr-4">
                        <!--  -->
                        <font size=3>Tengo 18 años me gusta el pilin jeje y la cola con kk ..</font>
                    </p>
                    <hr>
                    <!--  -->
                    <h5>Redes Sociales</h5>
                    <!--  -->
                    <div class="text-center"> <br>
                        <!--  -->
                        <a href=""><img src="https://img.icons8.com/doodle/48/000000/facebook-new.png"></a>
                        <!--  -->
                        <a href=""><img src="https://img.icons8.com/doodle/48/000000/instagram--v1.png"></a>
                        <!--  -->
                        <a href=""><img src="https://img.icons8.com/doodle/48/000000/gmail.png" /></a>
                        <!--  -->
                        <a href=""><img src="https://img.icons8.com/doodle/48/000000/whatsapp.png" /></a>
                    </div>
                </div>
                <!--  -->
                <div class="modal-footer">
                    <!--  -->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!--  -->
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</body>