<!-- Creamos el cuerpo con un background predeterminado con caracteristicas especiales -->

<body class="bg-about">
    <!-- Seccion que tendrá informacion sobre la pagina y sobre nuestras habilidades -->
    <section class="bg-about text-dark pt-5 pb-5">
        <!-- Container -->
        <div class="container">
            <!-- Fila con propiedades de texto -->
            <div class="row justify-content-center align-content-center d-flex">
                <!-- Columna de 6 con parte de 12 -->
                <div class="col-md-6 col-12 mx-auto">
                    <!-- Titulo de conocenos -->
                    <h2 class="mb-3 mt-3">Conocenos</h2>
                    <!-- Descripcion de nosotros y la pagina -->
                    <p class="text-h3 lead">Somos dos estudiantes de 5° Semestre con gustos por el diseño y el desarrollo que ceramos la pagina para los perritos que no tienen voz, tambien se realizo con base a un proyecto que realzamos hace alugnos años sobre una PetShop.</p>
                    <!-- Titulo de habilidades que tenemos -->
                    <h4 class="mb-3 mt-3">Habilidades</h4>
                    <!-- Barras de progreso -->
                    <div class="progress mb-3 mt-2">
                        <!-- Barra de progreso de HTML -->
                        <div class="progress-bar" role="progressbar" style="width: 80%">
                            <!-- Etiqueta HTML -->
                            <span class="stacked-label">HTML</span>
                        </div>
                    </div>
                    <!-- Barra de progreso -->
                    <div class="progress mb-3 mt-2">
                        <!-- Barra de progreso de CSS -->
                        <div class="progress-bar " role="progressbar" style="width: 50%">
                            <!-- Etiqueta CSS -->
                            <span class="stacked-label">CSS</span>
                        </div>
                    </div>
                    <!-- Barra de Progreso -->
                    <div class="progress mb-3 mt-2">
                        <!-- Barra de progreso JS -->
                        <div class="progress-bar " role="progressbar" style="width: 90%">
                            <!-- Etiqueta JS -->
                            <span class="stacked-label">JavaScript</span>
                        </div>
                    </div>
                    <!-- Barra de Progreso -->
                    <div class="progress mb-3 mt-2">
                        <!-- Barra de progreso PHP -->
                        <div class="progress-bar " role="progressbar" style="width: 80%">
                            <!-- Etiqueta PHP -->
                            <span class="stacked-label">PHP</span>
                        </div>
                    </div>
                </div>
                <!-- Columna que mostrara informacion de DIEGO -->
                <div class="col-md-3 col-6 mx-auto">
                    <!-- Card -->
                    <div class="card">
                        <!-- Img de DIEGO -->
                        <img class="card-img-top shadow" src="https://scontent-dfw5-2.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s750x750/98264138_870843923383159_4887648652525550873_n.jpg?_nc_ht=scontent-dfw5-2.cdninstagram.com&_nc_cat=107&_nc_ohc=ri2Zi3a_kOUAX8_l5ot&tp=1&oh=9b09589cf38f27b7dbddadd6ad8a4b12&oe=5FFCA4B9"
                            alt="Profile">
                        <!-- Cuerpo del card -->
                        <div class="card-body text-center">
                            <!-- Titulo del card -->
                            <h4 class="card-title">
                                <!-- Nombre -->
                                <font size=5 class="lead"><b>Diego Alexis</b></font><br>
                                <!-- Apellidos -->
                                <font size=4 class="lead">Algalan Murillo</font>
                            </h4>
                            <!-- Subtitulo -->
                            <p class="card-text text-muted">Estudiante</p>
                            <!-- Edad -->
                            <i class="">18 años</i>
                            <!-- Btn a modal -->
                            <p class="mt-4">
                                <!-- Click para modal -->
                                <a class="btn btn-outline-dark" role="button" data-toggle="modal" data-target="#DiegoModal">Ver mas información »</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Columna de 3 para card de ERICK -->
                <div class="col-md-3 col-6 mx-auto">
                    <!-- Card -->
                    <div class="card">
                        <!-- Img de ERICK -->
                        <img class="card-img-top shadow" src="https://scontent-dfw5-1.cdninstagram.com/v/t51.2885-19/s320x320/120201969_770239327109266_7925409692263987835_n.jpg?_nc_ht=scontent-dfw5-1.cdninstagram.com&_nc_ohc=0Vsmvu6Efh8AX-CGiZx&tp=1&oh=7672d6d377ec47e669522e02ef2a0b5a&oe=5FFAE745"
                            alt="Profile">
                        <!-- Cuerpo del Card -->
                        <div class="card-body text-center">
                            <!-- Titulo del Card -->
                            <h4 class="card-title">
                                <!-- Nombre -->
                                <font size=5 class="lead"><b>Erick</b></font><br>
                                <!-- Apellidos -->
                                <font size=4 class="lead">Pinzon Huerta</font>
                            </h4>
                            <!-- Rol -->
                            <p class="card-text text-muted">Estudiante</p>
                            <!-- Edad -->
                            <i class="">17 años</i>
                            <!-- Btn para modal -->
                            <p class="mt-4">
                                <!-- Clicl a modal -->
                                <a class="btn btn-outline-dark" role="button" data-toggle="modal" data-target="#ErickModal">Ver mas información »</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal (ERICK) -->
    <div class="modal fade" id="ErickModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <!-- Crea modal -->
        <div class="modal-dialog ">
            <!-- Contenido -->
            <div class="modal-content ">
                <!-- Titulo -->
                <div class="modal-header ">
                    <!-- Nombre -->
                    <h5 class="modal-title " id="exampleModalLabel ">Erick Pinzon</h5>
                    <!-- Btn Cerrar -->
                    <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
                        <!-- Btn cerrar -->
                        <span aria-hidden="true ">&times;</span>
                    </button>
                </div>
                <!-- Cuerpo del modal -->
                <div class="modal-body ">
                    <!--  Rol-->
                    <h5>Estudiante</h5>
                    <!-- Descripcion -->
                    <p class="lead ml-4 mr-4 ">
                        <!-- Desc -->
                        <font size=3>Tengo 17 años me gusta todo lo relacionado con los lenguajes de programacion, pienso seguir con esta carrera en la universidad, me considero bueno en ello, soy muy responsable y siempre busco hacer lo mejor posible en la escuela.</font>
                    </p>
                    <hr>
                    <!-- Redes -->
                    <h5>Redes Sociales</h5>
                    <!-- Contenedor de redes -->
                    <div class="text-center "> <br>
                        <!-- Fb -->
                        <a href=" "><img src="https://img.icons8.com/doodle/48/000000/facebook-new.png "></a>
                        <!-- Ig -->
                        <a href=" "><img src="https://img.icons8.com/doodle/48/000000/instagram--v1.png "></a>
                        <!-- Mail -->
                        <a href=" "><img src="https://img.icons8.com/doodle/48/000000/gmail.png " /></a>
                        <!-- WA -->
                        <a href=" "><img src="https://img.icons8.com/doodle/48/000000/whatsapp.png " /></a>
                    </div>
                </div>
                <!-- Footer -->
                <div class="modal-footer ">
                    <!-- Cerrar modal -->
                    <button type="button " class="btn btn-secondary " data-dismiss="modal ">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal (DIEGO) -->
    <div class="modal fade" id="DiegoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <!-- Crea modal -->
        <div class="modal-dialog">
            <!-- Contenido -->
            <div class="modal-content">
                <!-- Titulo -->
                <div class="modal-header">
                    <!-- Nombre -->
                    <h5 class="modal-title" id="exampleModalLabel">Diego Algalan</h5>
                    <!-- Cerrar -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <!-- X de cerrar -->
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Cuerpo del modal -->
                <div class="modal-body ">
                    <!-- Rol -->
                    <h5>Estudiante</h5>
                    <!-- Descripcion -->
                    <p class="lead ml-4 mr-4 ">
                        <!-- Desc -->
                        <font size=3>Tengo 18 años me gustan los deportes, me gusta la programacion aun que no quiero estudiarla en un futuro, soy alguien muy flojo en muchas ocasiones, tengo muchas metas en la vida que me gustaria llegar alcanzar.</font>
                    </p>
                    <hr>
                    <!-- Redes titulo -->
                    <h5>Redes Sociales</h5>
                    <!-- Contenedor de redes -->
                    <div class="text-center "> <br>
                        <!-- Fb -->
                        <a href=" "><img src="https://img.icons8.com/doodle/48/000000/facebook-new.png "></a>
                        <!-- IG -->
                        <a href=" "><img src="https://img.icons8.com/doodle/48/000000/instagram--v1.png "></a>
                        <!-- Mail -->
                        <a href=" "><img src="https://img.icons8.com/doodle/48/000000/gmail.png " /></a>
                        <!-- WA -->
                        <a href=" "><img src="https://img.icons8.com/doodle/48/000000/whatsapp.png " /></a>
                    </div>
                </div>
                <!-- Footer -->
                <div class="modal-footer ">
                    <!-- Btn Cerrar -->
                    <button type="button " class="btn btn-secondary " data-dismiss="modal ">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>