<!-- Cuerpo -->

<body class="bg-info">
    <!-- Estilo de div para mostrar cards -->
    <div class="album pt-5">
        <!-- Contenedor -->
        <div class="container">
            <!-- Fila -->
            <div class="row">
                <!-- Columna de 4 que contendra el card con la info -->
                <div class="col-md-4">
                    <!-- Card -->
                    <div class="card mb-4 shadow-sm" style="border: 0px; border-radius: 15px;">
                        <!-- Img de animal -->
                        <img src="https://images.unsplash.com/photo-1568572933382-74d440642117?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" width="100%" alt="" style="border-radius: 15px;">
                        <!-- Cuerpo de card -->
                        <div class="card-body">
                            <!-- Nombre de animal y descripcion -->
                            <h2>Fachi</h2>
                            <p class="card-text">Fachi es un perrito muy jugeton el cual tiene 8 meses de edad, es de raza alaska, esta buscando una familia la cual le brinde un hogar. </p>
                            <!-- Botones para el contacto -->
                            <div class="d-flex justify-content-between align-items-center">
                                <!-- Boton contacto -->
                                <div class="btn-group">
                                    <!-- Btn -->
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Contactanos</button>
                                </div>
                                <!-- Edad -->
                                <small class="text-muted">9 meses de edad</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Columna de 4 que contendra el card con la info y lo mismo pero con otro animal -->
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="border: 0px; border-radius: 15px;">
                        <img src="https://images.unsplash.com/photo-1548247416-ec66f4900b2e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1926&q=80" width="100%" alt="" style="border-radius: 15px;">
                        <div class="card-body">
                            <h2>Pelusa</h2>
                            <p class="card-text">Pelusa es un gato muy jugeton con todas las personas, un poco enojon, pero muy dulce.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Contactanos</button>
                                </div>
                                <small class="text-muted">2 años de edad</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Columna de 4 que contendra el card con la info y lo mismo pero con otro animal -->
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="border: 0px; border-radius: 15px;">
                        <img src="../../../assets/img/Luna.jpeg" style="border-radius: 15px;" width="100%" alt="">
                        <div class="card-body">
                            <h2>Luna</h2>
                            <p class="card-text">Luna es una chihuahua cabeza de manzana muy linda, pero lo que tiene de linda es lo que tiene de traviesa, es muy chiquita aun, pero busca una familia que le de amor.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Contactanos</button>
                                </div>
                                <small class="text-muted">2 meses de edad</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Columna de 4 que contendra el card con la info y lo mismo pero con otro animal -->
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="border: 0px; border-radius: 15px;">
                        <img src="../../../assets/img/Vale.jpeg" style="border-radius: 15px;" width="100%" alt="">
                        <div class="card-body">
                            <h2>Valentin</h2>
                            <p class="card-text">El es un gato maravilloso, es super jugeton y le gusta jugar con pelotas de estambre, tien mucho amor para dar.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Contactanos</button>
                                </div>
                                <small class="text-muted">8 meses de edad</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Columna de 4 que contendra el card con la info y lo mismo pero con otro animal -->
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="border: 0px; border-radius: 15px;">
                        <img src="../../../assets/img/Alekey.jpeg" style="border-radius: 15px;" width="100%" alt="">
                        <div class="card-body">
                            <h2>Alekey</h2>
                            <p class="card-text">Alekey es un perro muy obediente y divertido, puede cuidarte tu casa, ya que es demasiado atento.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Contactanos</button>
                                </div>
                                <small class="text-muted">4 años de edad </small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Columna de 4 que contendra el card con la info y lo mismo pero con otro animal -->
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="border: 0px; border-radius: 15px;">
                        <img src="https://images.unsplash.com/photo-1513245543132-31f507417b26?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" width="100%" alt="" style="border-radius: 15px;">
                        <div class="card-body">
                            <h2>Menta</h2>
                            <p class="card-text">Ella es una gatita muy dulce, disfruta mucho la compania de las personas, aunque muestre una cara de pocos amigos es muy linda.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Contactanos</button>
                                </div>
                                <small class="text-muted">5 años de edad </small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Columna de 4 que contendra el card con la info y lo mismo pero con otro animal -->
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="border: 0px; border-radius: 15px;">
                        <img src="https://images.unsplash.com/photo-1492370284958-c20b15c692d2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1887&q=80" width="100%" alt="" style="border-radius: 15px;">
                        <div class="card-body">
                            <h2>Bagheera</h2>
                            <p class="card-text">Bagheera es un gato un tanto enojon, pero sabiendolo tratar es muy dulce y disfrutarias pasar una tarde con el viendo peliculas.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Contactanos</button>
                                </div>
                                <small class="text-muted">11 meses de edad</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Columna de 4 que contendra el card con la info y lo mismo pero con otro animal -->
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="border: 0px; border-radius: 15px;">
                        <img src="https://images.unsplash.com/photo-1581161462738-125e3c17e44b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" width="100%" alt="" style="border-radius: 15px;">
                        <div class="card-body">
                            <h2>Cloyd</h2>
                            <p class="card-text">Cloyd es un pajaro un tanto peculiar, es demasiado apegados a sus amigos, muy limpio y muy fiel a ti.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Contactanos</button>
                                </div>
                                <small class="text-muted">4 meses de edad</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Columna de 4 que contendra el card con la info y lo mismo pero con otro animal -->
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="border: 0px; border-radius: 15px;">
                        <img src="../../../assets/img/Frank.jpeg" style="border-radius: 15px;" width="100%" alt="">
                        <div class="card-body">
                            <h2>Frank</h2>
                            <p class="card-text">Frank, es un perro muy carismatico, es apenas un cachorro asi que el puede ser perfecto para ninos chiquitos para que se diviertan juntos.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Contactanos</button>
                                </div>
                                <small class="text-muted">5 meses de edad</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Seccion de video -->
    <section class="pb-5">
        <!-- Container para el video -->
        <div class="container pt-md-5 mb-5 pb-5 border-bottom border-grey">
            <!-- Fila con propiedades de texto -->
            <div class="row align-items-center justify-content-between">
                <!-- Columna de 12 con parte de 7 y seccion de4 -->
                <div class="col-12 col-md-7   mt-4 mt-md-0">
                    <!-- Parte para insertar el video -->
                    <div class="ratio ratio-16x9 shadow-lg">
                        <!-- Inserta video, se extrae desde el mismo youtube -->
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/ce0LPDPV5NE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <!-- Columna de 12 con parte de 4 -->
                <div class="col-12 col-md-4 ">
                    <!-- Titulo del video -->
                    <h2 class="mb-3 mt-5" style="color: white;">Cosas que debes saber antes de adoptar un gato</h2>
                    <!-- Subtitulo del video -->
                    <p class="lead" style="color: white;">Quizas no te sientas preparado para adoptar un gato, por eso te dejamos informacion que podrias necesitar.</p>
                </div>
            </div>
        </div>
        <h2 style="text-align: center;">Tips para adoptar una mascota</h2>
        <!-- Datos necesarios sbre el video -->
        <div class="container mt-5">
            <!-- Fila -->
            <div class="row">
                <!-- Columna de 4 -->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <!-- Texto rojo -->
                    <div class="text-danger mb-3">
                        <!-- Img -->
                        <i class="fab fa-grav fa-2x"></i>
                    </div>
                    <!-- Descripcion de los datos -->
                    <h4 class="h5 mb-4">Ser responsable.</h4>
                    <p>Adoptar una mascota implica aprender a ser un buen dueño.</p>
                </div>
                <!-- Columna de 4 -->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <!-- Texto rojo -->
                    <div class="text-danger mb-3">
                        <!-- Img -->
                        <i class="fab fa-connectdevelop  fa-2x"></i>
                    </div>
                    <!-- Desc de datos -->
                    <h4 class="h5 mb-4">Paciencia.</h4>
                    <!-- Desc -->
                    <p>La mascota necesitará un período de adaptación para ir integrándose en el nuevo hogar y acostumbrándose a sus dueños.</p>
                </div>
                <!-- Columna de 4 -->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <!-- txt rojo -->
                    <div class="text-danger mb-4">
                        <!-- img -->
                        <i class="far fa-gem  fa-2x"></i>
                    </div>
                    <!-- Desc datos -->
                    <h4 class="h5 mb-4">Tener un sustento.</h4>
                    <!-- Desc -->
                    <p>Una mascota implica poder mantener sus necesidads, como vacunas, alimento, etc...</p>
                </div>
            </div>
        </div>
    </section>
</body>